.main {
  display: flex;
  /* background-color:rgb(217, 216, 185); */
  flex-direction: column;
  padding-inline: 10%;
}

h2 {
  font-size: 26px;
}

hr {
  border: 0;
  height: 2px;
  background-color: black;
}

.categories {
}

.categoriesBody {
  display: flex;
  overflow-x: auto;
  font-size: 1rem;
}

.category {
  display: block;
  min-width: 100px;
  margin: 20px;
}

.categoryImg {
  /* object-fit: scale-down; */
  width: 100%;
}
/* 
.categories{
    width: 100%;
    background-color: rgb(217, 216, 185);;
}

.categoriesBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 20px 0px;
}

.category{
    
    width: 150px;
    height: 100px;
    border: 1px solid black;
    padding: 6px;
    background-color: rgb(206, 175, 175);
    margin: 10px 15px;
    display: flex;
    justify-content: left;
    align-items: center; 
    border-radius: 12px;
    background-color: var(--primary);
    p{
        margin: 0px 10px;
    }
    img{
        border-radius: 12px ;
        width: 70%;
        object-fit: scale-down;
    }
} */

.restaurants {
  /* width: 100%; */
}
.restaurantBody {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.restaurant {
  .resImage {
    height: 200px;
    object-fit: cover;
  }
  background-color: var(--primary);
  /* width: 50%; */
  margin: 10px;
  display: flex;
  flex-direction: column;
  .details {
    /* padding: 0px 0px 0px 15px; */
    margin-left: 25px;
  }
}
